body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    
}

.titulo { 
     position: absolute; 
     top: 120px; /* distancia desde arriba */ 
     left: 50%; transform: translateX(-50%); 
     color: gold; 
     font-size: 52px; 
     font-family: 'Georgia', serif; 
     text-shadow: 0 0 10px rgba(255, 215, 0, 0.6); 
     letter-spacing: 2px; 
     white-space: nowrap;
}

/* Fondo fijo */
.fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;   /* Ocupa toda la pantalla */
    z-index: -1;         /* Se queda detrás */
}
.opciones {
     position:absolute;
     top: 50px;
     right: 5%;
     display: flex; 
     gap: 30px;
     justify-content: center;
     align-items: center;
     transform: translateX(-50%);
     background: rgba(0, 0, 0, 0.6);
     padding: 30px;
     border-radius: 15px;
     width: 350px;
     height: 10px;
     text-align: center;
     color: white;
     backdrop-filter: blur(4px);
     border: 2px solid rgba(255, 215, 0, 0.4);
     box-shadow: 0 0 20px rgba(255, 215, 0, 0.2);
     margin-right: -5%;
}
.opciones img { 
     width: 50px; 
     height: 50px; 
     object-fit: contain; 
     border-radius: 6px; 
     cursor: pointer; 
     transition: transform 0.2s ease; 
}
.opciones img:hover { 
     transform: scale(1.25);
}
#AjustesCamaraSecreta { 
     margin-left: auto; 
     width: 60px; 
     height: 60px; 
     filter: drop-shadow(0 0 5px gold); 
}
.LinksSociales{
     position:absolute;
     top: 50px;
     left: 15%;
     display: flex; 
     gap: 30px;
     justify-content: center;
     align-items: center;
     background: rgba(0, 0, 0, 0.6);
     padding: 30px;
     border-radius: 15px;
     width: 350px;
     height: 10px;
     text-align: center;
     color: white;
     backdrop-filter: blur(4px);
     border: 2px solid rgba(255, 215, 0, 0.4);
     box-shadow: 0 0 20px rgba(255, 215, 0, 0.2);

     margin-left: -5%;
     
}
.LinksSociales img{
     width: 50px; 
     height: 50px; 
     object-fit: contain; 
     border-radius: 6px; 
     cursor: pointer; 
     transition: transform 0.2s ease; 
}
.LinksSociales img:hover { 
     transform: scale(1.25);
}

.CromoPersonajeSecreto { 
     position: fixed; 
     top: 50%; 
     left: 50%; 
     transform: translate(-50%, -50%); 
     width: 500px;
     height: 800px;
     z-index: 9999; 
     padding: 20px; background: rgba(0,0,0,0.7); 
     border-radius: 12px; border: 3px solid gold; 
     box-shadow: 0 0 25px rgba(255, 215, 0, 0.8); 
     opacity: 0; 
     pointer-events: none; /* no bloquea clics hasta que se active */ 
     transition: opacity 0.5s ease; 
}
@keyframes destello { 
     0% { 
          box-shadow: 0 0 0px gold; 
     } 50% 
     { 
          box-shadow: 0 0 40px gold; 
     } 100% 
     { 
          box-shadow: 0 0 20px gold;
      } 
}
#imgCromo{
     width: 100%; 
     height: 100%; 
     object-fit: cover; /* o cover si quieres que llene */ 
     border-radius: 10px;
}
.CromoPersonajeSecreto.mostrar{
     opacity:  1;
     pointer-events: auto;
     animation: destello 1.2s ease-out forwards;
}
.CajaAcierto { 
     margin-top: 30px; 
     color: gold; 
     font-size: 22px; 
     font-family: 'Georgia', serif; 
     text-align: center; 
     text-shadow: 0 0 8px rgba(255, 215, 0, 0.7); 
}

/* Bloque centrado */
.bloque {
    position: absolute;
    top: 250px; /* lo bajas debajo del bloqueResultados */
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    height: 50px;
    text-align: center;
    color: white;
    backdrop-filter: blur(4px);
    border: 2px solid rgba(255, 215, 0, 0.4);
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.2);
}

.bloqueResultados {
    position: absolute;
    top: 400px; /* debajo del título */
    left: 50%;
    transform: translateX(-50%);
    width: 1300px;
    padding: 20px;
    background: rgba(0,0,0,0.5);
    border-radius: 12px;
    color: white;
    text-align: center;
    backdrop-filter: blur(4px);
    border: 2px solid rgba(255, 215, 0, 0.4);
}


.buscador {
    width: 80%;   /* ocupa todo el ancho del bloque */
    padding: 10px;
    font-size: 18px;
    font-family: 'Georgia', serif;
    border-radius: 8px;
    border: none;
}



/* Resultados */
.resultados { 
     margin-top: 10px; 
     text-align: left; 
     min-height: 50px; 
     max-height: 250px; 
     overflow-y: auto; 
     transition: max-height 0.3s ease;
 }



.itemResultado { 
     display: flex; 
     align-items: center; 
     gap: 10px; 
     padding: 6px; 
     cursor: pointer; 
     background: rgba(0,0,0,0.4); 
     border-radius: 8px; 
     margin-bottom: 5px; 
     transition: background 0.2s; 
} 
@keyframes fadeIn { to { opacity: 1; } }
.itemResultado:hover {
      background: rgba(255,255,255,0.2); 
     }
.imgResultado { 
     width: 40px; 
     height: 40px; 
     border-radius: 6px; 
     object-fit: cover; }

.bloque, .bloqueResultados {
    animation: brillo 3s infinite alternate;
}

@keyframes brillo {
    from { box-shadow: 0 0 30px rgba(255,215,0,0.2); }
    to   { box-shadow: 0 0 25px rgba(255,215,0,0.5); }
}
.huellas { 
    position: absolute;
    top: 210px; /* más abajo del título */
    left: 50%;
    transform: translateX(-50%);
    width: 700px; 
    height: 60px;
    background-image: url("../img/huellasFondo.png");
    background-size: 120px 40px; 
    background-repeat: repeat-x; 
    opacity: 1;
    animation: caminar 15s linear infinite; 
}
      
@keyframes caminar { 
     from { 
          background-position-x: 0; 
     } to { 
          background-position-x: -200px;
      } 
}

.comparaciones { 
     display: flex; 
     flex-wrap: wrap; 
     gap: 10px; 
} 
.comparacion { 
     display: flex; 
     align-items: center; 
     padding: 6px 10px; 
     border-radius: 8px; 
     font-size: 16px; 
     white-space: nowrap; 
}
.atributo { 
     width: 120px;
      /* todos igual de anchos */
     min-width: 120px; /* evita que se encojan */ 
     max-width: 120px; /* evita que se expandan */ 
     text-align: center; /* centra el texto */ 
     padding: 6px 10px; 
     border-radius: 6px; 
     font-size: 14px; 
     font-weight: bold; 
     display: flex; 
     justify-content: center; 
     align-items: center; 
     opacity: 0; 
     transform: translateY(-10px); 
     transition: opacity 0.4s ease, transform 0.4s ease;
}
.atributo.visible { 
     opacity: 1; 
     transform: translateY(0); 
}

.acierto {
    background: rgba(0, 255, 0, 0.3);
    border: 2px solid rgba(0, 255, 0, 0.6);
}

.parcial {
    background: rgba(255, 215, 0, 0.3);
    border: 2px solid rgba(255, 215, 0, 0, 0.6);
}

.fallo {
    background: rgba(255, 0, 0, 0.3);
    border: 2px solid rgba(255, 0, 0, 0.6);
}
.intento { 
     margin-bottom: 20px; 
     padding-bottom: 15px; 
     border-bottom: 1px solid rgba(255,255,255,0.2); 
}

.imgResultadoGrande {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}
.bloqueResultados {
      max-height: 300px; /* ajusta a tu gusto */
       overflow-y: auto; 
       padding-right: 10px; 
}
/* Cada intento es una fila horizontal */ 
.intentoFila { 
     display: flex; 
     align-items: center; 
     gap: 10px; 
     padding: 8px; 
     border-bottom: 1px solid rgba(255,255,255,0.2); 
} 
/* Imagen pequeña */ 
.imgIntento { 
     width: 50px; 
     height: 50px; 
     border-radius: 6px; 
     object-fit: cover;
}


/* Encabezado dentro del bloqueResultados */ 
.encabezadoTabla { 
     background: rgba(0,0,0,0.6); 
     padding: 10px; border-radius: 8px; 
     margin-bottom: 10px; font-weight: bold; 
     color: #f0d98c; 
     text-shadow: 1px 1px 2px black;
     position:sticky;
     top:0;
     z-index: 10;
}
 /* Alineación con las filas */ 
 .fila { 
     display: grid; 
     grid-template-columns: 60px repeat(8, 1fr); 
     align-items: center; gap: 10px; 
} 
.celdaHeader { 
     text-align: center; 
     -size: 14px; 
}

.encabezadoTabla { 
     position: sticky; 
     top: 0; 
     z-index: 10; 
     background: rgba(0,0,0,0.6); 
     padding: 10px; 
     border-radius: 8px; }
